<div class="content" style="padding-left:20px;padding-right: 20px;" >
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body" >
                        <div class="stat-widget-five">
                           
                            <div class="stat-content" >
                                    <div style="width: 15%; float:left"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXs9UkyKOy_NqGWROuQD7CjRwk1ANT_R7mRN6qI6DHqxuP9g4g&usqp=CAU"
                                     class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"></div>
                                     <div style="width: 85%; float:right"> <h6 style="text-align: end; font-size:13.5px">  Today Appointments</h6></div>
                                     <div class="stat-heading" style="text-align: end;"> 
                                      <h1 style="text-align: end;">04</h1>
                                     
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
   <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                           
                            <div class="stat-content" >
                                    <div style="width: 15%; float:left"><img src="https://c8.alamy.com/comp/RX81J0/grunge-red-follow-up-with-star-icon-round-rubber-seal-stamp-on-white-background-RX81J0.jpg"
                                   class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"></div>
                                     <div style="width: 85%; float:right"> <h6 size="5px" style="text-align: end;"> Follow Up</h6></div>
                                     <div class="stat-heading" style="text-align: end;"> 
                                      <h1 style="text-align: end;">03</h1>
                                     
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
        
  
   <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body" >
                        <div class="stat-widget-five">
                           
                            <div class="stat-content" >
                                    <div style="width: 15%; float:left"><img src="https://cdn2.vectorstock.com/i/1000x1000/83/41/missing-stamp-vector-16698341.jpg"
                                   class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"></div>
                                     <div style="width: 85%; float:right;"> <h6 style="text-align: end; font-size:13.5px">Missing Appointments</h6></div>
                                     <div class="stat-heading" style="text-align: end;"> 
                                      <h1 style="text-align: end;">07</h1>
                                     
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
           
   <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body" >
                        <div class="stat-widget-five">
                           
                            <div class="stat-content" >
                                    <div style="width: 15%; float:left"><img src="https://cdn2.vectorstock.com/i/1000x1000/17/61/male-avatar-profile-picture-vector-10211761.jpg"
                                   class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"></div>
                                     <div style="width: 85%; float:right"> <h6 size="5px" style="text-align: end;">New Patient</h6></div>
                                     <div class="stat-heading" style="text-align: end;"> 
                                      <h1 style="text-align: end;">10</h1>
                                     
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
            
  
        </div>
  <!-- 
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-1 hidden-xs">
          
        </div>
        <br>
        
      <div class="col-sm-10" style="margin-top: 30px;">
          
          <div class="row">
            <div class="col-sm-3" >
              <div class="well"style="background-color: #ef5350 ">
                <h4>Today Appointments</h4>
                <p>10 Patient</p> 
              </div>
            </div>
            <div class="col-sm-3"> 
              <div class="well" style="background-color: #039be5  ">
                <h4>Add New Patient</h4>
                <p>10 New Patient</p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well" style="background-color:  #7cb342   ">
                <h4>Birthdays</h4>
                <p>3 Peoples</p> 
              </div>
            </div>
            <div class="col-sm-3" >
              <div class="well" style="background-color:  #ff9800   "> 
                <h4>Follow Up</h4>
                <p>6 Follow up</p> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p> 
                <p>Text</p> 
                <p>Text</p> 
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p> 
                <p>Text</p> 
                <p>Text</p> 
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p> 
                <p>Text</p> 
                <p>Text</p> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="well">
                <p>Text</p> 
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->